body{
    background-color: rgb(255, 210, 219);
    
    
}

td:hover {
    background-color: rgb(238, 117, 184);

}

/*estilo por id*/

#nombre{
    border: 1px solid plum;
    border-radius: 3px;
    background-color: antiquewhite;
}


